<!-- BreadCrumb, Slider, Page, Etc... -->
<div ng-include src="'/partials/sliderTemplate.html'" id="slider_wrapper">

</div>
<!-- /BreadCrumb, Slider, Page, Etc... -->

<!-- Start of wrapper -->
<div id="wrapper">

  <!-- Start of left content wrapper -->
  <div class="left_content_wrapper">

    <!-- Start of post -->
    <div class="post">

      <h4>O FLISOL</h4>

      <p>O Festival Latino-americano de Instalação de Software Livre - é o maior evento de divulgação de Software Livre da América Latina. Ele acontece desde 2005 e seu principal objetivo é promover o uso de software livre, apresentando sua filosofia, seu alcance, avanços e desenvolvimento ao público em geral.</p>

      <p>Com esta finalidade, diversas comunidades locais de software livre (em cada país, em cada cidade/localidade), organizam simultaneamente eventos em que se instala gratuitamente e totalmente legal, software livre nos computadores levados pelos participantes. Também, paralelamente, são oferecidas apresentações, palestras e oficinas, sobre temas locais, nacionais e latinoamericanos sobre Software Livre, com toda sua variedade de expressões: artística, acadêmica, empresarial e social.</p>

      <p>O <a href="http://www.flisol.net" target="_blank" class="highlight">FLISOL 2013</a> acontece no dia 27 de Abril em diversas da América Latina!</p>

      <p>Veja aqui os detalhes de <a href="#!/sobre/campinas/" target="_blank" class="highlight">Campinas, SP</a>.</p>
    </div><!-- End of post -->

  </div><!-- End of left content wrapper -->

  <!-- Start of right content wrapper -->
  <div ng-include src="'/partials/rightSideInclude.html'" class="right_content_wrapper">


  </div><!-- End of right content wrapper -->

</div><!-- End of wrapper -->
</html>
