<!-- BreadCrumb, Slider, Page, Etc... -->
<div ng-include src="'/partials/sliderTemplate.html'" id="slider_wrapper">

</div>
<!-- /BreadCrumb, Slider, Page, Etc... -->

<!-- Start of wrapper -->
<div id="wrapper">

  <!-- Start of left content wrapper -->
  <div class="left_content_wrapper">

      <!-- Start of post -->
      <div class="post">

        <h4>O FLISOL CAMPINAS</h4>

        <p>Em 2012 o FLisol Campinas ocorreu também na POLICAMP e teve muitas palestras dos mais váriados assuntos dentro de Software Livre, desde apresentação sobre projetos livrena área da saúde até sobre como entrar no mundo livre.</p>
        
        <p>Esse ano contaremos com um coffe break e esperamos ainda mais pessoas.</p>   
               
        <p>Vai acontecer na <a href="#!/sobre/campinas">POLICAMP, na Rua Luiz Otávio, 1281 | Pq. Sta. Cândida - Campinas, SP</a></p>


        </div><!-- End of post -->

    </div><!-- End of left content wrapper -->
    
    <!-- Start of right content wrapper -->
    <div ng-include src="'/partials/rightSideInclude.html'" class="right_content_wrapper">


    </div><!-- End of right content wrapper -->

</div><!-- End of wrapper -->
</html>
