<div id="slider_wrapper2">

	<!-- Start of slider -->
    <div id="slider">
    
        <ul class="slides">
            <li>
                <img src="/photos/2012/firefox.jpg" alt="slide 1" />
            </li>
            <li>
                <img src="/photos/2012/gnu.jpg" alt="slide 2" />
            </li>
            <li>
                <img src="/img/slide3.jpg" alt="slide 3" />
            </li>
        </ul>
        
    </div><!-- End of slider -->

</div><!-- End of slider wrapper -->

<!-- Start of slider caption wrapper -->
<div id="slider_caption_wrapper">

    <!-- Start of slider caption -->
    <div id="slider_caption">
		<p>This is your caption area of your slide. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis. Nullam sit amet enim.</p>
    
        <!-- Start of slider link -->
        <div id="slider_link">
        
        <a href="#">Learn More</a>
            
        </div><!-- End of slider link -->
    
    </div><!-- End of slider caption -->

</div><!-- End of slider caption wrapper -->

<!-- Start of wrapper -->
<div id="wrapper">

	<!-- Start of portfolio wrapper -->
    <div id="portfolio_wrapper">
    
    <h2>RECENT PROJECTS</h2>
    
        <!-- Start of one third first -->
        <div class="one_third_first">
        
            <!-- Start of featured image portfolio -->
            <div class="featured_image_portfolio">
            
            <a href="#"><img src="img/portfolio1.jpg" alt="portfolio item 1" /></a>
            
            </div><!-- End of featured image portfolio -->
        
        </div><!-- End of one third first -->
        
        <!-- Start of one third -->
        <div class="one_third">
        
            <!-- Start of featured image portfolio -->
            <div class="featured_image_portfolio">
            
            <a href="#"><img src="img/portfolio2.jpg" alt="portfolio item 2" /></a>
            
            </div><!-- End of featured image portfolio -->
        
        </div><!-- End of one third -->
        
        <!-- Start of one third -->
        <div class="one_third">
        
            <!-- Start of featured image portfolio -->
            <div class="featured_image_portfolio">
            
            <a href="#"><img src="img/portfolio3.jpg" alt="portfolio item 3" /></a>
            
            </div><!-- End of featured image portfolio -->
        
        </div><!-- End of one third -->               
    
    </div><!-- End of portfolio wrapper -->
    
    <div class="clear"></div>
    
    <!-- Start of client wrapper -->
    <div id="client_wrapper">
    
    <img src="img/divider.png" alt="divider" width="960" height="30" style="padding:20px 0 20px 0;"/>
        
            <!-- Start of one fourth first -->
            <div class="one_fourth_first">
            
            <span class="dropcap_yellow">1</span>
            
            <h5><a href="#">A widget area for anything.</a></h5>
            
            <p>Curabitur blandit <span class="highlight">tempus porttitor</span>. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Sed posuere consectetur est at lobortis. <a href="#">Cras</a> justo odio, dapibus ac facilisis in.</p>
                
            </div><!-- End of one fourth first -->
        
            <!-- Start of one fourth -->
            <div class="one_fourth">
            
            <span class="dropcap_black">2</span>
            
            <h5><a href="#">some kinda title goes here.</a></h5>
            
            <p>Curabitur blandit tempus <a href="#">porttitor</a>. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Sed posuere consectetur est at lobortis. Cras justo odio, dapibus ac facilisis in.</p>
                
            </div><!-- End of one fourth -->
            
            <!-- Start of one fourth -->
            <div class="one_fourth">
            
            <span class="dropcap_yellow">3</span>
            
            <h5><a href="#">drop cap spans help focus eyes.</a></h5>
                
            <p>Curabitur blandit tempus porttitor. Integer posuere <a href="#">erat a</a> ante venenatis dapibus posuere velit aliquet. Sed posuere consectetur est at lobortis. Cras justo odio, dapibus ac facilisis in.</p>
                
            </div><!-- End of one fourth -->
        
            <!-- Start of one fourth -->
            <div class="one_fourth">
            
            <span class="dropcap_black">4</span>
            
            <h5><a href="#">homepage with big impact.</a></h5>
                
            <p>Curabitur blandit tempus porttitor. Integer posuere erat a <a href="#">ante venenatis</a> dapibus posuere velit aliquet. Sed posuere consectetur est at lobortis. Cras justo odio, dapibus ac facilisis in.</p>
                
            </div><!-- End of one fourthn -->
            
            <img src="img/divider.png" alt="divider2" width="960" height="30" style="padding:20px 0 20px 0;"/>           
    
    </div><!-- End of client wrapper -->
    
    <div class="clear"></div>
    
    <!-- Start of recent post wrapper -->
    <div id="recent_post_wrapper">
    
    <h2>RECENT POSTS</h2>
    
        <!-- Start of one third first -->
        <div class="one_third_first">
        
            <!-- Start of featured image portfolio -->
            <div class="featured_image_portfolio">
            
            <a href="#"><img src="img/portfolio4.jpg" alt="portfolio item 1" /></a>
            
            </div><!-- End of featured image portfolio -->
            
            <!-- Start of featured content portfolio -->
            <div class="featured_content_portfolio">
            
            <h5><a href="#">Project One</a></h5>
            
            <p>Curabitur blandit tempus porttitor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Sed posuere consectetur est at lobortis. Cras justo odio, dapibus ac facilisis in.</p>
            
            <div class="blog_readmore"><a href="#">Read More</a></div>
            
            </div><!-- End of featured content portfolio -->
        
        </div><!-- End of one third first -->
        
        <!-- Start of one third -->
        <div class="one_third">
        
            <!-- Start of featured image portfolio -->
            <div class="featured_image_portfolio">
            
            <a href="#"><img src="img/portfolio5.jpg" alt="portfolio item 2" /></a>
            
            </div><!-- End of featured image portfolio -->
            
            <!-- Start of featured content portfolio -->
            <div class="featured_content_portfolio">
            
            <h5><a href="#">Project Two</a></h5>
            
            <p>Curabitur blandit tempus porttitor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Sed posuere consectetur est at lobortis. Cras justo odio, dapibus ac facilisis in.</p>
            
            <div class="blog_readmore"><a href="#">Read More</a></div>
            
            </div><!-- End of featured content portfolio -->
        
        </div><!-- End of one third -->
        
        <!-- Start of one third -->
        <div class="one_third">
        
            <!-- Start of featured image portfolio -->
            <div class="featured_image_portfolio">
            
            <a href="#"><img src="img/portfolio6.jpg" alt="portfolio item 3" /></a>
            
            </div><!-- End of featured image portfolio -->
            
            <!-- Start of featured content portfolio -->
            <div class="featured_content_portfolio">
            
            <h5><a href="#">Project Three</a></h5>
            
            <p>Curabitur blandit tempus porttitor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Sed posuere consectetur est at lobortis. Cras justo odio, dapibus ac facilisis in.</p>
            
            <div class="blog_readmore"><a href="#">Read More</a></div>
            
            </div><!-- End of featured content portfolio -->
        
        </div><!-- End of one third -->
    
    </div><!-- End of recent post wrapper -->

</div><!-- End of wrapper -->

<div class="clear"></div>
