<div id="slider_wrapper2">

	<!-- Start of slider -->
    <div id="slider">
    
        <ul class="slides">
            <li>
                <img src="/photos/2012/firefox.jpg" />
            </li>
            <li>
                <img src="/photos/2012/gnu.jpg" />
            </li>
            <li>
                <img src="/photos/2012/entre_palestras.jpg" />
            </li>
            <li>
                <img src="/photos/2012/final.jpg" />
            </li>
            <li>
                <img src="/photos/2012/brindes.jpg" />
            </li>
            <li>
                <img src="/photos/2012/sala_pcs.jpg" />
            </li>
        </ul>
        
    </div><!-- End of slider -->

</div><!-- End of slider wrapper -->

<!-- Start of slider caption wrapper -->
<div id="slider_caption_wrapper">

    <!-- Start of slider caption -->
    <div id="slider_caption">
		<p>O Festival Latino Americano de Instalação de Software Livre - FliSol é um evento internacional, realizado anualmente, e que ocorre de forma simultânea em diversas cidades da América Latina. O Flisol acontece, historicamente, no 4º sábado de abril, neste ano ocorrerá no dia 27 de abril.</p>
    
        <!-- Start of slider link -->
        <div id="slider_link">
        
        <a href="#!/inscreva-se/">INSCREVA-SE!</a>
            
        </div><!-- End of slider link -->
    
    </div><!-- End of slider caption -->

</div><!-- End of slider caption wrapper -->

<!-- Start of wrapper -->
<div id="wrapper">

	<!-- Start of portfolio wrapper -->
    <div id="portfolio_wrapper">
    
        <!-- Start of one third first -->
        <div class="one_third_first">
        
            <!-- Start of featured image portfolio -->
            <div class="view view-first">
            
                <a href="#"><img src="img/callforpapers.jpg" alt="Call for papers" /></a>
                <div class="mask">
                    <h5>Palestras Aprovadas</h5>
                    <p>Veja a nossa grade de palestras</p>
                    <a class="info" href="http://bit.ly/W8UiYA">Confira!</a>
                </div>
                
                </div><!-- End of featured image portfolio -->
            
        </div><!-- End of one third first -->
        
        <!-- Start of one third -->
        <div class="one_third">
        
            <!-- Start of featured image portfolio -->
            <div class="view view-first">
            
            <a href="#!/inscreva-se/"><img src="img/inscreva-se.jpg" alt="Inscreva-se" /></a>
            <div class="mask">
                    <h5>INSCREVA-SE GRATUITAMENTE</h5>
                    <p>É rápido, gratuito e principalmente, é LIVRE!</p>
                    <a class="info" href="#!/inscreva-se/">PARTICIPE!</a>
            </div>
            
            </div><!-- End of featured image portfolio -->
        
        </div><!-- End of one third -->
        
        <!-- Start of one third -->
        <div class="one_third">
        
            <!-- Start of featured image portfolio -->
            <div class="view view-first">
            
            <a href="#"><img src="img/patrocine.jpg" alt="Patrocine" /></a>
            <div class="mask">
                    <h5>SAIBA MAIS</h5>
                    <p>Conheça a história do evento.</p>
                    <a href="#!/sobre/FLISOL" class="info">Saiba mais</a>
                    
            </div>
            
            
            </div><!-- End of featured image portfolio -->
        
        </div><!-- End of one third -->               
    
    </div><!-- End of portfolio wrapper -->
    
    <div class="clear"></div>
    
    <!-- Start of client wrapper -->
    <div id="client_wrapper">
    
    <img src="img/divider.png" alt="divider" width="960" height="30" style="padding:20px 0 20px 0;"/>
        
            <!-- Start of one fourth first -->
            <div class="one_fourth_first">
            
            <span class="dropcap_yellow">1</span>
            
            <h5><a href="#">Objetivos</a></h5>
            
            <p>O objetivo do FliSol é promover o uso de Software Livre em geral, além de criar interações entre usuários e desenvolvedores, promovendo palestras e minicursos.</p>
                
            </div><!-- End of one fourth first -->
        
            <!-- Start of one fourth -->
            <div class="one_fourth">
            
            <span class="dropcap_black">2</span>
            
            <h5><a href="#">Comunidades</a></h5>
            
            <p>O fortalecimento do movimento de software livre se deu, em grande parte, graças à colaboração de voluntários organizados em comunidades, associações de corporações e empresas que contribuíram significativamente com o desenvolvimento e financiamento de projetos de código aberto.</p>
                
            </div><!-- End of one fourth -->
            
            <!-- Start of one fourth -->
            <div class="one_fourth">
            
            <span class="dropcap_yellow">3</span>
            
            <h5><a href="#">Palestre.</a></h5>
                
            <p>Compartilhe o seu conhecimento e fortaleça a comunidade de usuários de Software Livre.</p>
                
            </div><!-- End of one fourth -->
        
            <!-- Start of one fourth -->
            <div class="one_fourth">
            
            <span class="dropcap_black">4</span>
            
            <h5><a href="#">Patrocine</a></h5>
                
            <p>Ajude a tornar o FliSol um evento ainda melhor, ano passado o evento campineiro obteve 365 inscritos de 43 cidades diferentes, que tal ajudar a tornar este ainda maior?</p>
                
            </div><!-- End of one fourthn -->
                
    
    </div><!-- End of client wrapper -->
    
    <div class="clear"></div>

    <div ng-controller="ListaPalestras" id="recent_post_wrapper">
    
    <h2>RECENT POSTS</h2>
    
        <!-- Start of one third first -->
        <div ng-repeat="palestra in palestras" class="{{listClass}}">
            
            <!-- Start of featured content portfolio -->
            <div class="featured_content_portfolio">
            
            <h5><a href="#">{{palestra.titulo}}</a></h5>
            
            <p ng-model="palestra.resumo">Curabitur blandit tempus porttitor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Sed posuere consectetur est at lobortis. Cras justo odio, dapibus ac facilisis in.</p>
            
            <!-- <div class="blog_readmore"><a href="#">Saber Mais</a></div> -->
            
            </div><!-- End of featured content portfolio -->
        
        </div><!-- End of one third first -->
        
        <!-- Start of one third -->
        <div class="one_third">
        
            
            <!-- Start of featured content portfolio -->
            <div class="featured_content_portfolio">
            
            <h5><a href="#">Project Two</a></h5>
            
            <p>Curabitur blandit tempus porttitor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Sed posuere consectetur est at lobortis. Cras justo odio, dapibus ac facilisis in.</p>
            
            <div class="blog_readmore"><a href="#">Read More</a></div>
            
            </div><!-- End of featured content portfolio -->
        
        </div><!-- End of one third -->
        
        <!-- Start of one third -->
        <div class="one_third">
        
            
            <!-- Start of featured content portfolio -->
            <div class="featured_content_portfolio">
            
            <h5><a href="#">Project Three</a></h5>
            
            <p>Curabitur blandit tempus porttitor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Sed posuere consectetur est at lobortis. Cras justo odio, dapibus ac facilisis in.</p>
            
            <div class="blog_readmore"><a href="#">Read More</a></div>
            
            </div><!-- End of featured content portfolio -->
        
        </div><!-- End of one third -->
    
    </div>
    
 
<div class="clear"></div>
