
<!-- Start of text widget -->
<div class="text_widget">

  <h2>FLISOL 2013</h2>

  <ul class="contact">
    <li><span class="contact_title">Quando?</span></li>
    <li>Sábado | 27 de Abril</li>
    <li>09:00 - 17:00</li>
  </ul>        

  <ul class="contact">
    <li><span class="contact_title">Onde?</span></li>
    <li><a href="http://www.policamp.edu.br" target="_blank">Falculdade POLICAMP</a></li>
    <li>Rua Luiz Otávio, 1281 | Pq. Sta. Cândida</li>
    <li>Campinas | São Paulo</li>
  </ul>

  <ul class="contact">
    <li><span class="contact_title">Coordenação ( Campinas )</span></li>
    <li><a href="mailto:klederson@klederson.com">Klederson Bueno</a> | Geral</li>
    <li><a href="#">Alê Borba</a> | Relacionamento</li>
    <li><a href="mailto:contato@eliasgranja.com">Elias Granja</a> | Conteúdo/Relacionamento </li>
    <li><a href="#">Priscila Mayumi</a> | Patrocínio/Conteúdo</li>
    <li><a href="#">Augusto Pascutti</a> | Palestras</li>
    <li><a href="#">André Déo</a> | Geral</li>
    <li><a href="#">Clóvis Tristão</a> | Conteúdo </li>
  </ul>
  
  <ul class="contact">
    <li><span class="contact_title">Colaboradores</span></li>
    <li><a href="mailto:ericatamiris@gmail.com">Érica Tamiris</a> | Mat. Gráfico</li>
    <li><a href="#">André Déo</a> | Local e Infra</li>
  </ul>
  

</div><!-- End of text widget -->  

<!-- Start of text widget -->
<div class="text_widget">

  <h2>Como Chegar?</h2>

  <iframe width="auto" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=-22.85170,-47.04363&amp;output=embed"></iframe><br />

</div><!-- End of text widget -->    