<!-- BreadCrumb, Slider, Page, Etc... -->
<div ng-include src="'/partials/sliderTemplate.html'" id="slider_wrapper">

</div>
<!-- /BreadCrumb, Slider, Page, Etc... -->

<!-- Start of wrapper -->
<div id="wrapper">

  <!-- Start of left content wrapper -->
  <div class="left_content_wrapper">

      <!-- Start of post -->
      <div class="post">

        <h4>O EVENTO</h4>
        
        <p>Acontecerá dia 27/04/2013 na POLICAMP ( ver mais info abaixo ) e conta com entrada totalmente gratuíta.</p>

        <h3>Rua Luiz Otávio, 1281 | Pq. Sta. Cândida - Campinas, SP</h3>
        
        <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=-22.85170,-47.04363&amp;output=embed"></iframe><br />   

        </div><!-- End of post -->

    </div><!-- End of left content wrapper -->
    
    <!-- Start of right content wrapper -->
    <div ng-include src="'/partials/rightSideInclude.html'" class="right_content_wrapper">


    </div><!-- End of right content wrapper -->

</div><!-- End of wrapper -->
</html>
